*{
    margin:0;
    padding:0;
}

body{
height:100%;
font-family: 'Work Sans', sans-serif;
background-color:rgb(255, 132, 0);
overflow-y: scroll;
}

.fondoColor{
    height: 100%;
    width: 100%;
  background-color:rgb(255, 132, 0);
    display:flex;
    justify-content: center;
}

h1{
    font-family: 'Work Sans', sans-serif
}
.style{
    margin: 15%;
    background-color: white;
    height: 30%;
    width: 65%;
    border:1px ;
    padding:1rem;
    border-radius: 0.5rem;
    position: static;
 justify-content: center;
    align-items: center;
}

.bi{

    font-size: 25px;
    }


.form-checks { 
    color:rgb(255, 132, 0);  
  float: left;
 align-items: center;
}





