<footer id="piedepagina" class="footer">
      <section class="footerSecciones">
        <div>
        <h2 class="footerTitulo">Nosotros</h2>
   <ul class="footerMenu">
       <li><a href="">Admin</a></li>
       <li><a href="Tienda.hbs">Tienda</a></li>
       <li><a href="">Nosotros</a></li>
       <li><a href="">Contacto</a></li>
     </ul>
 </div>
 </section>

 <section class="footerSecciones">
<div class="footerComunidad">
<ul class="footerMenu">
 <li><a href="https://es-la.facebook.com/"><i class="bi bi-facebook"></i></a></li>
 <li><a href="404 not found"><i class="bi bi-instagram"></i></a></li>
</ul>
</div>
</section>
</footer>